@{
    ViewBag.Title = "DNODetailsReport";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("DNODetailsReport", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
}
<div class="right_col" role="main" ng-app="AdminApp" ng-controller="AdminCtrl" ng-cloak>
    <div data-loading></div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>DNO Details Entry</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="color:black;white-space:nowrap;">
                    <br />
                    <div class="table table-responsive text-center">
                        <table class="table table-bordered table-striped table-hover">
                            <tr style="background: #34495e; color: #ffffff">
                                <td>Serial No.</td>
                                <td>District Name</td>
                                <td>Department Name</td>
                                <td>DNO Name</td>
                                <td>Mobile Number</td>
                            </tr>
                            <tr ng-repeat="i in GetDNOList">
                                <td>{{$index + 1}}</td>
                                <td>{{i.DistrictName | capitalize}}</td>
                                <td>{{i.DepartmentName}}</td>
                                <td>{{i.Name}}</td>
                                <td>{{i.MobileNo}}</td>
                            </tr>
                            <tr ng-show="i.GetDNOList.length == 0">
                                <td class="text-danger" colspan="4">
                                    <b>No record found.</b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module("AdminApp", []);

    app.controller("AdminCtrl", function ($scope, $http, $timeout) {

        var token = document.getElementsByName('__RequestVerificationToken')[0].value;

        $scope.GetDnoList = [];
        var getAllDNORecord = function () {
            $http.get('GetDNOEnteredDetails').then(function success(response) {
                $scope.GetDNOList = response.data;
            }, function error(response) {
                alert(response.status);
            });
        };
        getAllDNORecord();
    });

    app.filter('capitalize', function () {
        return function (input) {
            return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
        }
    });

    app.directive('loading', ['$http', function ($http) {
        return {
            restrict: 'A',
            template: '<div class="loading">Loading&#8230;</div>',
            link: function (scope, elm, attrs) {
                scope.isLoading = function () {
                    return $http.pendingRequests.length > 0;
                };
                scope.$watch(scope.isLoading, function (v) {
                    if (v) {
                        elm.css('display', 'block');
                    } else {
                        elm.css('display', 'none');
                    }
                });
            }
        };
    }]);
</script>