<!DOCTYPE html>
<html lang="en" style="min-height: 100%" oncontextmenu="return false;" onload="noback();" onpageshow="if (event.persisted) noback();" unload="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mukhyamantri Krushi Udyoga Yojana</title>
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/build/css/custom.min.css" rel="stylesheet">
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">window.onload = window.history.forward(0); function noback() { window.history.forward(); };</script>
</head>
<body class="nav-md footer_fixed" ng-app="PreApp" ng-controller="PreCtrl" ng-cloak>
    <div class="container body">
        @RenderBody()
        <footer style="margin-left: 0px">
            <div class="pull-right">
                Designed and developed by <a href="https://www.nic.in/state/Odisha">National Informatics Centre, Odisha</a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/nprogress/nprogress.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/validator/validator.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/iCheck/icheck.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/google-code-prettify/src/prettify.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/switchery/dist/switchery.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/autosize/dist/autosize.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/starrr/dist/starrr.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/build/js/custom.min.js"></script>
</body>
</html>