 <!DOCTYPE html>
<html lang="en" style="min-height: 100%" onload="noback();" onpageshow="if (event.persisted) noback();" unload="" oncontextmenu="return false;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mukhyamantri Krushi Udyoga Yojana</title>
    <link href="~/DPRDesign/bootstrap.min.css" rel="stylesheet" />
    <link href="~/DPRDesign/font-awesome.min.css" rel="stylesheet" />
    <link href="~/DPRDesign/normalize.min.css" rel="stylesheet" />
    <link href="~/DPRDesign/animate.min.css" rel="stylesheet" />
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <link href="~/Content/Loader.css" rel="stylesheet" />
    <style>
        .bxt {
            background-color: rgb(83, 163, 163);
            color: white !important;
            margin-bottom: 10px;
            padding: 6px !important;
        }
        .box-header.with-border {
            border-bottom: 1px solid #f4f4f4;
        }
        .box-header {
            color: lightblue;
            padding: 22px 18px;
            margin-top: 10px;
        }
        .box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
            display: inline-block;
            font-size: 19px;
            margin: 0;
            line-height: 1;
        }
    </style>
    <script type="text/javascript">window.onload = window.history.forward(0); function noback() { window.history.forward(); };</script>
</head>
<body class="nav-md" ng-app="BcompletionApp" ng-controller="BcompletionCtrl" ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar" style="height: auto; background: rgb(83, 163, 163)">
        <h1 style="padding: 10px 30px; font-family: 'Times New Roman'; color: white"><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home" title="Click here to go Home page" style="color: white; font-size: 24px; padding-right: 30px"></span></a>Agricultural Promotion & Investment Corporation of Odisha Limited (APICOL)</h1>
    </nav>
    <div class="container" style="margin-top: 100px">
        @RenderBody()
    </div>
    <footer style="background: rgb(83, 163, 163); margin: 0px; padding: 10px; position: fixed; bottom: 0; left: 0; right: 0; z-index: 999">
        <div class="text-right" style="color: white; font-family: 'Times New Roman'">
            <p style="margin: 0px">Designed and developed by National Informatics Centre, Odisha</p>
        </div>
        <div class="clearfix"></div>
    </footer>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/DPRDesign/bootstrap.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Content/encoder.js"></script>
    <script src="~/Scripts/angular-ui-bootstrap-modal.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script>
         function printDiv(divName) {
             var printContents = document.getElementById(divName).innerHTML;
             var originalContents = document.body.innerHTML;
             var printWindow = window.open('', '', 'height=200,width=400');
             printWindow.document.write('<html><head><title>DIV Contents</title>');
             printWindow.document.write('</head><body ><qrcode  data="{{bdata}}" style="width:400px;height:300px;" image="true"></qrcode>');
             printWindow.document.write(printContents);
             printWindow.document.write('</body></html>');
             printWindow.document.close();
             printWindow.print();
         };
    </script>
</body>
</html>