@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPrerequisites.cshtml";
}
<div class="right_col" role="main" style="margin-left: 0px">
    <div class="container">
        <div class="page-title">
            <div class="title_left" style="color: darkred; white-space: nowrap">
                <h3 style="padding-left: 275px">Agricultural Promotion & Investment Corporation of Odisha Limited (APICOL)</h3>
                <h3 style="padding-left: 510px">Mukhyamantri Krushi Udyoga Yojana</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="margin-bottom: 75px">
                    <div class="x_title">
                        <h3 style="margin: 0; padding-top: 5px" class="text-danger text-center col-md-12 col-sm-12 col-xs-12">About Us</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-horizontal form-label-left">
                            <div class="form-group" style="color: black">
                                <ul>
                                    <li><h4><b>APICOL - The Agricultural Promotion & Investment Corporation of Odisha Limited</b></h4></li>
                                    <li><h4>APICOL is a wholly owned Govt of Odisha Corporation working under Department of Agriculture and Farmers' Empowerment.</h4></li>
                                    <li>
                                        <h4>The corporation started functioning since 01-06-1996 with the sole objective of promoting Commercial Agri Enterprises in the state in the following five sectors:</h4>
                                        <ul>
                                            <li><h4>Agriculture</h4></li>
                                            <li><h4>Horticulture</h4></li>
                                            <li><h4>Animal Husbandry</h4></li>
                                            <li><h4>Fisheries</h4></li>
                                            <li><h4>Food Processing Industries</h4></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="container">
                                    <h4><b>Vision :</b></h4>
                                    <hr />
                                    <ul>
                                        <li><h4>To bring in a shift from subsistence agriculture to commercial agriculture by motivating farmers and entrepreneurs on commercial agri-enterprises and provide an interactive coupling between technology, economy, environment, institutions and society for speedy development of agriculture, agro-based/food processing industries to build up a substantial base for production of value added agro-food products for domestic and export markets with strong emphasis on quality and productivity.</h4></li>
                                    </ul>
                                    <h4><b>Mission :</b></h4>
                                    <hr />
                                    <ul>
                                        <li><h4>"To proactively contribute to the all-round economic and social development of the state by being responsive, competitive and efficient while, at the same time, protecting and improving the natural environment and livelihoods of local communities."</h4></li>
                                    </ul>
                                    <h4><b>Objectives :</b></h4>
                                    <hr />
                                    <ul>
                                        <li><h4>To prepare suitable schemes on Agriculture, Horticulture, Animal Husbandry, Pisciculture and fields allied to Agriculture and make them available to prospective entrepreneurs within the state.</h4></li>
                                        <li><h4>Commission feasibility studies on different crops and crop related industries.Take-up special campaign for promotion of Agricultural Entrepreneurship.</h4></li>
                                        <li><h4>To acquire and hold equity in joint ventures with agricultural houses/enterprises in the joint sector, assisted sector and to raise and receive funds for the above purpose.</h4></li>
                                        <li><h4>Act as a single window clearance point for the different incentives under the Agricultural Policy Resolution.</h4></li>
                                        <li><h4>Counseling, customer service including escort services and guidance to entrepreneurs on agri business activities, executants on L.I. Points and public.</h4></li>
                                        <li><h4>Arrangement of seminars, workshops, exhibitions, Entrepreneurs Development Program and Awareness Programs. Acting as Virtual Office of Agricultural & Processed Food Products Export Development Authority (APEDA), Government of India.</h4></li>
                                        <li><h4>Acting as enlisted consultant by Small Farmers' Agri Business Consortium (SFAC), Government of India under its Project Development Facility.</h4></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module("PreApp", []);
    app.controller("PreCtrl", function ($scope, $http) { });
</script>