@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/CommercialAgriEnterpriseTheme/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="right_col" style="margin-left: 0" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2 style="color: black">No. of Beneficiaries registered <small>District-wise</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <canvas id="myBarChartRegdDPR"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/nprogress/nprogress.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/Content/CommercialAgriEnterpriseTheme/build/js/custom.js"></script>
</body>
</html>